body {
  font-size: 20px;
  background-color: #abe1f1b3;
  font-family: sans-serif !important;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif !important;
}

.navbar {
  background-color: #0d799c8c !important;
}

/* ........................................... */
/* logo style */
/* ........................................... */
.logo {
  background-image: url("./files/Logo.png");
  height: 70px;
  width: 70px;
  background-repeat: no-repeat;
  background-size: contain;
}

.wrapper .logo {
  margin-left: 40%;
  margin-bottom: 15px;
}

/* ........................................... */
/* Home Page style */
/* ........................................... */

.content, .DoAndDontsContent{
  margin: 50px 145px;
}

.dashboard-content {
  background-color: #e3e4e4;
  margin: 50px 200px;
  padding: 30px 50px;
  color: #1b3d63;
}

img {
  vertical-align: middle;
  border-style: none;
  display: block;
}

.codeChallengeImg {
  width: 150px;
  height: 150px;
}
.border {
  font-weight: bold;
  margin-bottom: 0.5rem !important;
  border: 5px solid lightblue !important;
}

.newDashboard {
  border: 3px solid lightblue !important;
}
.anyClass {
  height: 150px;
  overflow-y: scroll;
  border: 3px solid grey#202529 !important;
  height: 700px;
  margin-top: 20px;
  box-shadow:  5px 5px 5px 10px rgb(188, 236, 125);
}
.col-md-1 {
  margin-left: 10px !important;
}

.like {
  margin-top: 10px;
}
.txt {
  margin-top: 10px;
}

.topics{
  padding: 50px 0px;
  background-color:  white !important;
  margin-bottom: 100px;
}
.dodont{
  padding: 50px;
  background-color: white !important;
}

.dodont .header{
  font-size: 40px;
  text-align: center;
}
.dodont .row .do{
  font-size: 35px;
  text-align: center;
}
.dodont .row .dont{
  font-size: 35px;
  text-align: center;
}

.odd {
  color: black;
  
}

.even {
  color: #515A5A;
}
.inline {
  display: inline-block;
}

/* ........................................... */
/* Posts Page style */
/* ........................................... */

a {
  text-decoration: none !important;
  color: #1b3d63;
}
.dash-header {
  margin-bottom: 60px !important;
}
.newbtn {
  height: 35px;
  margin: 9px 0px 0px 20px;
}
.filter {
  margin-left: 30%;
  margin-bottom: 70px;
}
.entry {
  padding-bottom: 30px;
  color: blue;
}

.question-section {
  font-family: serif !important;
  padding: 10px 0px;
  background-color: white;
  margin: 10px 0px 15px 10px;
  border-radius: 10px;
}

.answer-section {
  margin-top: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif !important;
}
.answer {
  font-size: 17px;
  padding: 10px 10px;
  background-color: #efefef;
  margin: 10px 0px 15px 10px;
}

.answer-date {
  font-size: 13px;
  color: gray;
}

.answer-section form {
  margin: 70px 0px 10px 0px;
}

/* ........................................... */
/* Login an Signup pages */
/* ........................................... */
.login,
.signup {
  /* background-image: url("https://usersnap.com/blog/wp-content/uploads/2017/04/web-design-background.png"); */
  background-color: #0173a7;
  /* background-position: center;
  background-attachment: fixed; */
  /* background-repeat: no-repeat;  */
  background-size: cover;
  height: 100vh;
}

.wrapper-box {
  padding: 40px;
  background: #54b3dead;
  width: 370px;
  height: 470px;
}
.wrapper {
  font-size: 17px;
  color: white;
  margin-left: 38%;
  width: 300px;
  padding: 200px 20px 0 0px;
  text-align: center;
}
.wrapper a {
  color: white;
}
.wrapper button {
  width: 100%;
}
.wrapper .text {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 20px 0px 30px 0px;
}

.wrapper a {
  border-bottom: 1px solid white;
}

/* ........................................... */
/* FOOTER*/
/* ........................................... */
footer {
  background-color: #e6e5e5;
  padding: 50px;
  font-size: 80%;
}
#copyright {
  transform: translate(40%);
}
footer p {
  color: #777575;
  text-align: center;
  margin-top: 20px;
}
