.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Home Page style */
.content {
  margin: 50px 100px;
}

img {
  vertical-align: middle;
  border-style: none;
  display: block;
}
.border {
  font-weight: bold;
  margin-bottom: .5rem!important;
  border: 7px solid lightblue !important;
}

/* Home Page end */

/* Posts Page style */
.dash-header{
  margin-bottom: 60px !important;
}
.newbtn{
  height: 35px;
  margin: 9px 0px 0px 20px;
}
.filter{
  margin-left: 30%;
}
.entry {
  padding-bottom: 30px;
  color: blue;
}
.table-header div {
  font-size: 20px;
  font-weight: bold;
  margin: 40px 0px;
}
.question-section{
  padding-top: 10px;
  
}
/* Posts Page end */



/* Login an Signup pages */

.wrapper{
  display: block;
  position: relative;
  margin: 0 auto 0;
  padding: 200px 20px 0 0px;
  width: 340px;
  text-align: left;
}
.wrapper button{
  width: 100%;
}
.wrapper .text{
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}


