/* logo style */
.logo {
  background-image: url("./files/Logo.png");
  height: 70px;
  width: 70px;
  background-repeat: no-repeat;
  background-size: contain;
}

.wrapper .logo{
  margin-left: 40%;
  margin-bottom: 15px;
}

/* Home Page style */

.content {
  margin: 50px 100px;
}

img {
  vertical-align: middle;
  border-style: none;
  display: block;
}
.border {
  font-weight: bold;
  margin-bottom: 0.5rem !important;
  border: 7px solid lightblue !important;
}

.newDashboard{
  border: 3px solid lightblue !important;
}
/* Home Page end */

/* Posts Page style */
.dash-header {
  margin-bottom: 60px !important;
}
.newbtn {
  height: 35px;
  margin: 9px 0px 0px 20px;
}
.filter {
  margin-left: 30%;
}
.entry {
  padding-bottom: 30px;
  color: blue;
}
.table-header div {
  font-size: 20px;
  font-weight: bold;
  margin: 40px 0px;
}
.question-section {
  padding-top: 10px;
}
/* Posts Page end */

/* Login an Signup pages */

.wrapper {
  display: block;
  position: relative;
  margin: 0 auto 0;
  padding: 150px 20px 0 0px;
  width: 340px;
  text-align: left;
}

.wrapper button {
  width: 100%;
}
.wrapper .text {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}
